{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">


</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>Мой дачный блог</h2>
    <p>Хочешь жить и программировать на даче?<br>
        Я расскажу тебе как.</p>
    <p><a class="link" href="{% url 'blog:post_list' %}">Опубликованные статьи</a></p>
    <p><a class="link" href="{% url 'blog:draft_list' %}">Неопубликованные статьи</a></p>


</div>
</body>
</html>